/bloatboo.synctex.gz
/bloatbook.aux
/bloatbook.lof
/bloatbook.log
/bloatbook.lot
/bloatbook.out
/bloatbook.toc
/bloatbook.bbl
/bloatbook.blg
/bloatbook.ilg
/bloatbook.ind
/bloatbook.pdf
/bloatbook.synctex.gz
